<!DOCTYPE html>
<html>
    <head>
        <title>Dinonuggies</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <h1>Hello {{user.first_name}} !!</h1>
            <h2>You have {{dinonuggies}} dinonuggies</h2>
            <a href="{% url 'logout' %}">Logout</a>
            {% if can_claim %}
                <a href="{% url 'claim' %}">Claim Dinonuggies</a>
            {% else %}
                <p>You already claimed your dinonuggies for today</p>
            {% endif %}
        {% else %}
            <a href="{% url 'login' %}">Login with Google</a>
        {% endif %}
    </body>
</html>